{% extends 'base.html.twig' %}

{% block title %}Cube{% endblock %}

{% block body %}
    <h1>Cube assistant</h1>

    <div id="game-interface">
        {% block gameInterface %}
            {# This content will be replaced on fetch made on button#cube-scramble clic #}

            {{ form(cubeTypeForm) }}
            <button id="cube-scramble">Obtenir un nouveau mélange</button>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('game') }}
{% endblock %}
