*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: inherit;
}

a,
a:visited {
    color: inherit;
}

a:hover {
    color: #ff8800;
}

a:active {
    color: whitesmoke;
}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

.collapsable {

    &.collapse {
        display: none;
    }
}