body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none !important;
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}