.col-cube-scramble {
    padding: 0 1rem;

    button#cube-scramble {
        max-width: 5rem;
    }
}

.col-game-interface {
    padding: 0 1rem;

    .game-interface {

        .scramble-moves {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: .5rem;
            justify-content: center;
        }
    }
}

.col-chronos-infos {
    padding: 0 1rem;
}