.header {
    position: relative;
    width: 100%;
    padding: 3rem 0;

    h1 {
        text-align: center;
    }

    #user-menu {
        position: absolute;
        top: 3.7rem;
        right: 1rem;
        width: 8rem;

        .collapsable-trigger {
            text-align: center;
        }
    }
}